.post-a-job {
  position: relative;
  width: 1728px;
  height: 1472px;
  background-color: #0d0e17;
  overflow: hidden;
}

.post-a-job .rectangle-42 {
  position: absolute;
  top: 127px;
  left: 0;
  width: 1728px;
  height: 1518px;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 23, 1) 0%,
    rgba(18, 20, 50, 1) 33%,
    rgba(8, 9, 33, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.post-a-job .rectangle-43 {
  position: absolute;
  top: -5449px;
  left: -4015px;
  width: 444px;
  height: 230px;
}

.post-a-job .rectangle-44 {
  position: absolute;
  top: -5449px;
  left: -4015px;
  width: 764px;
  height: 760px;
}

.post-a-job .rectangle-45 {
  position: absolute;
  top: 285px;
  left: 145px;
  width: 1402px;
  height: 1088px;
  background-color: #4e505ea6;
  border-radius: 59px;
}

.post-a-job .text-wrapper-41 {
  position: absolute;
  top: 99px;
  left: 93px;
  width: 606px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  letter-spacing: -2.50px;
  line-height: 140px;
  white-space: nowrap;
}

.post-a-job .rectangle-46 {
  position: absolute;
  top: 380px;
  left: 278px;
  width: 541px;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.post-a-job .frame {
  top: 733px;
  left: 266px;
  display: flex;
  flex-direction: column;
  width: 553px;
  height: 91px;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.post-a-job .rectangle-47 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.post-a-job .rounded-rectangle {
  position: absolute;
  top: 505px;
  left: 278px;
  width: 1136px;
  height: 173px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.post-a-job .rectangle-48 {
  position: absolute;
  top: 856px;
  left: 276px;
  width: 541px;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.post-a-job .text-wrapper-42 {
  top: 397px;
  width: 386px;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
  position: absolute;
  left: 313px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
}

.post-a-job .text-wrapper-43 {
  position: absolute;
  top: 868px;
  left: 301px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.post-a-job .text-wrapper-44 {
  top: 536px;
  width: 975px;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 42px;
  position: absolute;
  left: 313px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
}

.post-a-job .text-wrapper-45 {
  position: absolute;
  top: 757px;
  left: 313px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.post-a-job .rectangle-wrapper {
  top: 957px;
  left: 264px;
  display: flex;
  flex-direction: column;
  width: 553px;
  height: 91px;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.post-a-job .rectangle-49 {
  position: absolute;
  top: 1080px;
  left: 274px;
  width: 541px;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.post-a-job .text-wrapper-46 {
  position: absolute;
  top: 1089px;
  left: 301px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.post-a-job .text-wrapper-47 {
  position: absolute;
  top: 985px;
  left: 301px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.post-a-job .rectangle-50 {
  position: absolute;
  top: -5449px;
  left: -4015px;
  width: 100px;
  height: 100px;
}

.post-a-job .button-linkout-5 {
  display: flex;
  width: 200px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 1224px;
  left: 276px;
  background-color: #ededed;
  border-radius: 10px;
}

.post-a-job .text-5 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.post-a-job .button-linkout-6 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 168px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 148px;
  left: 1364px;
  background-color: #ffffff;
  border-radius: 10px;
}

.post-a-job .text-6 {
  color: #080921;
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 1150px;
  height: 675px;
  background-color: #0d0e17;
  border-radius: 60px;
  overflow: hidden;
}

.modal-content .rectangle-18 {
  position: absolute;
  top: 135px;
  left: -25px;
  width: 1728px;
  height: 1518px;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 23, 1) 0%,
    rgba(18, 20, 50, 1) 33%,
    rgba(8, 9, 33, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.modal-content .rectangle-22 {
  position: absolute;
  top: 106px;
  left: 90px;
  width: 970px;
  height: 479px;
  background-color: #4e505ea6;
  border-radius: 59px;
}

.modal-content .text-wrapper-29 {
  position: absolute;
  top: 227px;
  left: 274px;
  width: 601px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 75px;
  text-align: center;
  letter-spacing: -1.88px;
  line-height: 105px;
}

.close-modal {
  position: absolute;
  top: 450px;
  left: 450px;
  width: 250px;
  height: 60px;
  background-color: #ededed;
  border: none;
  border-radius: 10px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-modal:hover {
  background-color: #d4d4d4;
}

.button-linkout-5 {
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-linkout-5:hover {
  background-color: #d4d4d4;
}
