.user-info {
  position: relative;
  width: 434px;
  height: 857px;
  background-color: #0d0e17;
  border-radius: 100px;
  overflow: hidden;
}

.user-info .rectangle-23 {
  position: absolute;
  top: -79px;
  left: -520px;
  width: 1728px;
  height: 1235px;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 23, 1) 0%,
    rgba(18, 20, 50, 1) 33%,
    rgba(8, 9, 33, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.user-info .rectangle-24 {
  position: absolute;
  top: -2711px;
  left: -1923px;
  width: 444px;
  height: 230px;
}

.user-info .rectangle-25 {
  position: absolute;
  top: -2711px;
  left: -1923px;
  width: 764px;
  height: 760px;
}

.user-info .rectangle-26 {
  position: absolute;
  top: 3px;
  left: -2px;
  width: 436px;
  height: 854px;
  background-color: #4e505ea6;
  border-radius: 59px;
}

.user-info .text-wrapper-30 {
  position: absolute;
  top: 106px;
  left: 48px;
  width: 336px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: -1.50px;
  line-height: 84px;
  white-space: nowrap;
}

.user-info .rectangle-27 {
  position: absolute;
  top: 275px;
  left: 33px;
  width: 366px;
  height: 65px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.user-info .rectangle-28 {
  position: absolute;
  top: 479px;
  left: 33px;
  width: 366px;
  height: 66px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.user-info .rectangle-29 {
  position: absolute;
  top: 667px;
  left: 33px;
  width: 351px;
  height: 65px;
  background-color: #0088ff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-info .rectangle-29:hover {
  background-color: #0077dd;
}

.user-info .edit-text {
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
}

.user-info .rectangle-30 {
  position: absolute;
  top: 377px;
  left: 33px;
  width: 366px;
  height: 65px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.user-info .text-wrapper-31 {
  position: absolute;
  top: 291px;
  left: 49px;
  width: 244px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.user-info .text-wrapper-32 {
  position: absolute;
  top: 393px;
  left: 49px;
  width: 244px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.user-info .text-wrapper-33 {
  position: absolute;
  top: 495px;
  left: 49px;
  width: 244px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.user-info .text-wrapper-34 {
  position: absolute;
  top: 684px;
  left: 48px;
  width: 301px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.user-info .rectangle-31 {
  position: absolute;
  top: -2711px;
  left: -1923px;
  width: 100px;
  height: 100px;
}
