.login {
  position: relative;
  width: 1728px;
  height: 1362px;
  background-color: #0d0e17;
  overflow: hidden;
}

.login .button-linkout-home-login {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 129px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 66px;
  left: 1360px;
  background-color: #0d0e17;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .button-linkout-home-login:hover {
  background-color: #1a1b2e;
}

.login .button-linkout-8 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 129px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 66px;
  left: 1515px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .button-linkout-8:hover {
  background-color: #d4d4d4;
}

.login .text-7 {
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.login .text-wrapper-52 {
  position: absolute;
  top: 62px;
  left: 135px;
  width: 281px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.00px;
  line-height: 56px;
  white-space: nowrap;
  cursor: pointer;
}

.login .rectangle-33 {
  position: absolute;
  top: 127px;
  left: 0;
  width: 1728px;
  height: 1235px;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 23, 1) 0%,
    rgba(18, 20, 50, 1) 33%,
    rgba(8, 9, 33, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.login .rectangle-34 {
  position: absolute;
  top: 5397px;
  left: -28px;
  width: 444px;
  height: 230px;
}

.login .road-bridge-3 {
  position: absolute;
  top: 54px;
  left: 70px;
  width: 83px;
  height: 67px;
  cursor: pointer;
}

.login .rectangle-35 {
  position: absolute;
  top: 5397px;
  left: -28px;
  width: 764px;
  height: 760px;
}

.login .rectangle-36 {
  position: absolute;
  top: 338px;
  left: 518px;
  width: 691px;
  height: 667px;
  background-color: #4e505ea6;
  border-radius: 59px;
}

.login .text-wrapper-53 {
  position: absolute;
  top: 411px;
  left: 578px;
  width: 532px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
}

.login .text-wrapper-54 {
  position: absolute;
  top: 474px;
  left: 578px;
  width: 532px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: -1.50px;
  line-height: 84px;
  white-space: nowrap;
}

.login .rectangle-37 {
  position: absolute;
  top: 618px;
  left: 573px;
  width: 581px;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.login .rectangle-38 {
  position: absolute;
  top: 729px;
  left: 573px;
  width: 581px;
  height: 69px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 2px solid;
  border-color: #040202;
}

.login .text-wrapper-55 {
  position: absolute;
  top: 638px;
  left: 605px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.login .text-wrapper-56 {
  position: absolute;
  top: 746px;
  left: 605px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #120f0f9e;
  font-size: 25px;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.login .forgot-password {
  position: absolute;
  top: 844px;
  left: 768px;
  width: 386px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #33b6f89e;
  font-size: 30px;
  text-align: right;
  letter-spacing: -0.75px;
  line-height: 42px;
  text-decoration: underline;
  white-space: nowrap;
}

.login .button-linkout-9 {
  all: unset;
  box-sizing: border-box;
  width: 129px;
  top: 844px;
  left: 578px;
  border-radius: 5px;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  background-color: #ededed;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .button-linkout-9:hover {
  background-color: #d4d4d4;
}

.login .button-linkout-10 {
  width: 320px;
  top: 1164px;
  left: 890px;
  border-radius: 10px;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  background-color: #ededed;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .button-linkout-10:hover {
  background-color: #d4d4d4;
}

.login .text-8 {
  margin-left: -3.00px;
  margin-right: -3.00px;
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.login .button-linkout-11 {
  width: 320px;
  top: 1164px;
  left: 518px;
  border-radius: 10px;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  background-color: #ededed;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login .button-linkout-11:hover {
  background-color: #d4d4d4;
}

.login .text-wrapper-57 {
  position: absolute;
  top: 1096px;
  left: 424px;
  width: 880px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
}

.login .rectangle-39 {
  position: absolute;
  top: 5397px;
  left: -28px;
  width: 100px;
  height: 100px;
}
