.home {
  position: relative;
  width: 1728px;
  height: 5821px;
  background-color: #0d0e17;
  overflow: hidden;
}

.home .rectangle {
  position: absolute;
  top: 1197px;
  left: 0;
  width: 1728px;
  height: 1224px;
  background-blend-mode: difference;
}

.home .text-wrapper {
  top: 62px;
  left: 135px;
  position: absolute;
  width: 281px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.00px;
  line-height: 56px;
  white-space: nowrap;
  cursor: pointer;
}

.home .div {
  position: absolute;
  top: 138px;
  left: 0;
  width: 1728px;
  height: 1070px;
  background: linear-gradient(
    180deg,
    rgba(13, 14, 23, 1) 0%,
    rgba(18, 20, 50, 1) 33%,
    rgba(8, 9, 33, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.home .button-linkout {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 168px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 69px;
  left: 798px;
  background-color: #0d0e17;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout:hover {
  background-color: #1a1b2e;
}

.home .text {
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.home .button-linkout-2 {
  display: flex;
  width: 168px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 69px;
  left: 1026px;
  background-color: #0d0e17;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout-2:hover {
  background-color: #1a1b2e;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 168px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 69px;
  left: 1254px;
  background-color: #0d0e17;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button:hover {
  background-color: #1a1b2e;
}

.home .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  margin-left: -3.00px;
  margin-right: -3.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.home .p {
  position: absolute;
  top: 357px;
  left: 100px;
  width: 1527px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: -2.00px;
  line-height: 112px;
}

.home .text-wrapper-2 {
  position: absolute;
  top: 662px;
  left: 273px;
  width: 1182px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.75px;
  line-height: 42px;
}

.home .rectangle-2 {
  position: absolute;
  top: 2402px;
  left: 0;
  width: 1728px;
  height: 1154px;
}

.home .text-wrapper-3 {
  position: absolute;
  top: 2348px;
  left: 221px;
  width: 1286px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: -1.75px;
  line-height: 98px;
}

.home .rectangle-3 {
  position: absolute;
  top: 2630px;
  left: 923px;
  width: 691px;
  height: 760px;
  background-color: #3c3f56a6;
  border-radius: 59px;
}

.home .text-wrapper-4 {
  position: absolute;
  top: 2488px;
  left: 155px;
  width: 1418px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: -0.88px;
  line-height: 49px;
}

.home .group {
  position: absolute;
  top: 2630px;
  left: 113px;
  width: 701px;
  height: 760px;
}

.home .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 691px;
  height: 760px;
  background-color: #3c3e55a6;
  border-radius: 59px;
  box-shadow: 0px 4px 4px #00000040;
}

.home .text-wrapper-5 {
  position: absolute;
  top: 184px;
  left: 42px;
  width: 599px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .text-wrapper-6 {
  position: absolute;
  top: 265px;
  left: 51px;
  width: 565px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.65px;
  line-height: 36.4px;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 453px;
  left: 96px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .text-wrapper-8 {
  position: absolute;
  top: 506px;
  left: 96px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .text-wrapper-9 {
  position: absolute;
  top: 559px;
  left: 96px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .button-linkout-3 {
  display: flex;
  width: 548px;
  height: 62px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 646px;
  left: 68px;
  background-color: #080a21;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout-3:hover {
  background-color: #0d0f35;
}

.home .text-3 {
  position: relative;
  width: fit-content;
  margin-top: -5.00px;
  margin-bottom: -3.00px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ededed;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.75px;
  line-height: 42px;
  white-space: nowrap;
}

.home .group-2 {
  position: absolute;
  top: 2687px;
  left: 160px;
  width: 85px;
  height: 536px;
  display: flex;
  flex-direction: column;
}

.home .generic-avatar {
  height: 77px;
  position: relative;
  background-color: #ffffff;
  border-radius: 100px;
  overflow: hidden;
}

.home .avatar-placeholder {
  position: absolute;
  width: 70.46%;
  height: 64.08%;
  top: 25.00%;
  left: 14.77%;
}

.home .check {
  position: relative;
  margin-top: 310px;
  width: 43px;
  height: 42px;
}

.home .icon {
  position: absolute;
  width: 67.92%;
  height: 50.10%;
  top: 24.90%;
  left: 16.04%;
}

.home .icon-wrapper {
  position: relative;
  margin-top: 11px;
  width: 43px;
  height: 42px;
}

.home .img-wrapper {
  position: relative;
  margin-top: 12px;
  width: 43px;
  height: 42px;
}

.home .text-wrapper-10 {
  position: absolute;
  top: 2814px;
  left: 965px;
  width: 599px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .text-wrapper-11 {
  position: absolute;
  top: 2885px;
  left: 974px;
  width: 565px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.65px;
  line-height: 36.4px;
}

.home .text-wrapper-12 {
  position: absolute;
  top: 3083px;
  left: 1019px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .text-wrapper-13 {
  position: absolute;
  top: 3136px;
  left: 1019px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .text-wrapper-14 {
  position: absolute;
  top: 3189px;
  left: 1019px;
  width: 520px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: -0.58px;
  line-height: 32.2px;
}

.home .button-linkout-4 {
  display: flex;
  width: 548px;
  height: 62px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 3276px;
  left: 991px;
  background-color: #080a21;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout-4:hover {
  background-color: #0d0f35;
}

.home .avatar-placeholder-wrapper {
  position: absolute;
  top: 2687px;
  left: 970px;
  width: 85px;
  height: 77px;
  background-color: #ffffff;
  border-radius: 100px;
  overflow: hidden;
}

.home .check-2 {
  position: absolute;
  top: 3074px;
  left: 970px;
  width: 43px;
  height: 42px;
}

.home .check-3 {
  position: absolute;
  top: 3127px;
  left: 970px;
  width: 43px;
  height: 42px;
}

.home .check-4 {
  position: absolute;
  top: 3181px;
  left: 970px;
  width: 43px;
  height: 42px;
}

.home .text-wrapper-15 {
  position: absolute;
  top: 1247px;
  left: 103px;
  width: 1186px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.75px;
  line-height: 42px;
}

.home .text-wrapper-16 {
  position: absolute;
  top: 1105px;
  left: 103px;
  width: 1081px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: -1.50px;
  line-height: 84px;
}

.home .img {
  position: absolute;
  top: 5608px;
  left: 1897px;
  width: 444px;
  height: 230px;
}

.home .rectangle-5 {
  position: absolute;
  top: 1490px;
  left: 181px;
  width: 556px;
  height: 301px;
  background-color: #787b9e57;
  border-radius: 26px;
}

.home .rectangle-6 {
  position: absolute;
  top: 1873px;
  left: 991px;
  width: 556px;
  height: 301px;
  background-color: #787b9e57;
  border-radius: 26px;
}

.home .rectangle-7 {
  position: absolute;
  top: 1490px;
  left: 991px;
  width: 556px;
  height: 301px;
  background-color: #787b9e57;
  border-radius: 26px;
}

.home .rectangle-8 {
  position: absolute;
  top: 1873px;
  left: 181px;
  width: 556px;
  height: 301px;
  background-color: #787b9e57;
  border-radius: 26px;
}

.home .text-wrapper-17 {
  position: absolute;
  top: 1527px;
  left: 235px;
  width: 448px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 70px;
  white-space: nowrap;
}

.home .text-wrapper-18 {
  position: absolute;
  top: 1527px;
  left: 1030px;
  width: 478px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 70px;
  white-space: nowrap;
}

.home .text-wrapper-19 {
  position: absolute;
  top: 1931px;
  left: 1030px;
  width: 478px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 70px;
  white-space: nowrap;
}

.home .text-wrapper-20 {
  position: absolute;
  top: 1931px;
  left: 212px;
  width: 494px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 70px;
  white-space: nowrap;
}

.home .text-wrapper-21 {
  position: absolute;
  top: 1611px;
  left: 231px;
  width: 453px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .text-wrapper-22 {
  position: absolute;
  top: 1611px;
  left: 1042px;
  width: 453px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .text-wrapper-23 {
  position: absolute;
  top: 2013px;
  left: 1042px;
  width: 453px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .text-wrapper-24 {
  position: absolute;
  top: 2021px;
  left: 232px;
  width: 453px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.70px;
  line-height: 39.2px;
}

.home .rectangle-9 {
  position: absolute;
  top: 3559px;
  left: 0;
  width: 1728px;
  height: 2307px;
  background: linear-gradient(
    180deg,
    rgba(3, 5, 17, 1) 0%,
    rgba(21, 23, 44, 1) 39%,
    rgba(1, 1, 2, 1) 100%
  );
}

.home .group-3 {
  position: absolute;
  top: 3838px;
  left: 158px;
  width: 1412px;
  height: 887px;
}

.home .group-4 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 608px;
  height: 361px;
}

.home .share-wrapper {
  position: absolute;
  top: 65px;
  left: 244px;
  width: 113px;
  height: 97px;
  display: flex;
  background-color: #ffffffdb;
}

.home .share {
  width: 101.7px;
  height: 97px;
  margin-left: 5.6px;
}

.home .text-wrapper-25 {
  position: absolute;
  top: 162px;
  left: 0;
  width: 602px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 16px;
}

.home .text-wrapper-26 {
  position: absolute;
  top: 225px;
  left: 56px;
  width: 490px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .text-wrapper-27 {
  position: absolute;
  top: 0;
  left: 107px;
  width: 67px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .group-5 {
  position: absolute;
  top: 496px;
  left: 810px;
  width: 608px;
  height: 391px;
}

.home .group-6 {
  position: absolute;
  top: 65px;
  left: 244px;
  width: 113px;
  height: 97px;
  background-color: #ffffffdb;
}

.home .text-wrapper-28 {
  position: absolute;
  top: 255px;
  left: 56px;
  width: 490px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .group-7 {
  position: absolute;
  top: 501px;
  left: 0;
  width: 608px;
  height: 386px;
}

.home .text-wrapper-29 {
  position: absolute;
  top: 255px;
  left: 56px;
  width: 490px;
  height: 131px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .group-wrapper {
  position: absolute;
  top: 0;
  left: 810px;
  width: 602px;
  height: 380px;
  display: flex;
}

.home .div-wrapper {
  width: 602px;
  display: flex;
}

.home .group-8 {
  width: 608px;
  height: 380px;
  position: relative;
}

.home .text-wrapper-30 {
  position: absolute;
  top: 244px;
  left: 56px;
  width: 490px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .text-wrapper-31 {
  position: absolute;
  top: 3576px;
  left: 162px;
  width: 1404px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 40px;
}

.home .text-wrapper-32 {
  position: absolute;
  top: 4885px;
  left: 237px;
  width: 1253px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  letter-spacing: -2.25px;
  line-height: 126.0px;
}

.home .button-linkout-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 436px;
  height: 81px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: absolute;
  top: 5074px;
  left: 646px;
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout-5:hover {
  background-color: #d4d4d4;
}

.home .text-4 {
  position: relative;
  width: fit-content;
  margin-top: -2.50px;
  margin-bottom: -0.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.00px;
  line-height: 56px;
  white-space: nowrap;
}

.home .group-9 {
  position: absolute;
  top: 5483px;
  left: 1215px;
  width: 378px;
  height: 90px;
  display: flex;
  gap: 199px;
}

.home .instagram {
  width: 89px;
  height: 87px;
}

.home .you-tube {
  width: 90px;
  height: 90px;
}

.home .group-10 {
  position: absolute;
  top: 5481px;
  left: 916px;
  width: 535px;
  height: 92px;
  display: flex;
}

.home .facebook {
  margin-top: 0.4px;
  width: 90px;
  height: 90px;
}

.home .linked-in {
  margin-top: 2px;
  width: 90px;
  height: 90px;
  margin-left: 53.7px;
}

.home .git-hub {
  width: 90px;
  height: 90px;
  margin-left: 211px;
}

.home .line {
  position: absolute;
  top: 5345px;
  left: 146px;
  width: 1435px;
  height: 1px;
  object-fit: cover;
}

.home .group-11 {
  position: absolute;
  top: 3912px;
  left: 411px;
  width: 903px;
  height: 591px;
}

.home .text-wrapper-33 {
  position: absolute;
  top: 5604px;
  left: 944px;
  width: 649px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: right;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.home .text-wrapper-34 {
  top: 5491px;
  left: 220px;
  position: absolute;
  width: 281px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.00px;
  line-height: 56px;
  white-space: nowrap;
}

.home .road-bridge {
  position: absolute;
  top: 5483px;
  left: 154px;
  width: 83px;
  height: 67px;
}

.home .property-default-wrapper {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 46px;
  left: 1495px;
  width: 169px;
  height: 92px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #8a38f5;
}

.home .property-default {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  margin-top: 20px;
  width: 129px;
  height: 52px;
  margin-left: 20px;
  position: relative;
  align-items: flex-start;
}

.home .button-linkout-6 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 129px;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 14px 22px;
  position: relative;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home .button-linkout-6:hover {
  background-color: #d4d4d4;
}

.home .text-5 {
  position: relative;
  width: fit-content;
  margin-top: -6.50px;
  margin-bottom: -4.50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.62px;
  line-height: 35px;
  white-space: nowrap;
}

.home .road-bridge-2 {
  position: absolute;
  top: 53px;
  left: 72px;
  width: 83px;
  height: 67px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
